img {
    max-width: 75%;
    /* min-width: 10rem; */
    height: auto;  
}
.container-fluid {
    margin: 0;
}
.welcome {
    background-color: #442727;
    color: whitesmoke;
    text-align: center;
    /* padding: 10% 0; */
} 

.cv-btn {
    margin: 2rem;
}

.div-one {
    background-color: #eae7d9;
    text-align: center;
    padding: 5% 2.5%;
}

.div-two {
    background-color: #d2c6b2 ;
    padding: 5% 2.5%;
}

.welcome-image{
    padding: 5% 0;
}

.welcome-text {
    padding: 12% 5% 0;
}


/* Projects section */

.projects {
    text-align: center;
}

#emailHelp {
    text-align: left;
}

.socials {
    text-align: center;
    padding: 2.5rem 0;
    background-color: #442727;
}

.text-muted{
    padding: 0 2rem;
}

.social-icon {
    padding: 0 .5rem;
}